@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #ffba00;
}

.custom-bg-color {
	background-color: var(--primary-color);
}

.custom-border-color {
	border-color: var(--primary-color);
}
